In [2]:
import pandas as pd
import numpy as np
import collections

In [3]:
rng = np.random.default_rng(12345)

In [4]:
draw = np.sort(rng.choice(a=range(1,49), size=6, replace=False))
draw

array([10, 11, 15, 31, 36, 39])

In [6]:
# get number of matches between random draws and lottery draws

a = [np.intersect1d(rng.choice(a=range(1,50), size=6, replace=False), draw).size for x in range(100_000)]
collections.Counter(a)

Counter({1: 41351, 0: 43678, 2: 13161, 4: 78, 3: 1731, 5: 1})

In [7]:
np.intersect1d(np.array([1, 3, 5, 6]), np.array([1, 2, 3, 6])).size

3

In [8]:
df = pd.DataFrame(collections.Counter(a).values(), index=collections.Counter(a).keys(), columns=["count"]).sort_index()
df.index.name = "matches"
df["prob"] = df["count"] / 10_000_000
df

         count          prob
matches
0        43678  4.367800e-03
1        41351  4.135100e-03
2        13161  1.316100e-03
3         1731  1.731000e-04
4           78  7.800000e-06
5            1  1.000000e-07

In [79]:
collections.Counter(a).values()

dict_values([4129447, 4358534, 1325250, 176816, 9758, 195])